body, html{
  height: 100%;
}

#root{
  height: 100%;
}

.main-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    border: none;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-color-dark{
  color: #464646;
}

.font-color-light{
  color: #F0F1F2;
}

.font-color-highlit-light{
  color: #F5F225;
}

.font-color-highlit-dark{
  color: #26596A;
}